body {
    background: black;
    color: purple;
    font-family: 'Merienda', cursive;
    text-align: center;
}

#prompt {
    font-size: 30px;
}
.crystalball { 
        border: 7px solid purple; 
        width: 300px;
        height: 400px;
        object-fit: contain;
}